body{
    margin: 0px;
    padding: 0px;

    font-family: Comic Sans MS, Comic Sans, cursive;
}
.Poland__info{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    
    background: rgb(221,179,179);
    background: linear-gradient(260deg, rgba(221,179,179,1) 0%, rgba(221,173,173,1) 23%, rgba(213,22,22,1) 82%);
}

.Poland__info-h1{
    height: 15%;
    width: 100%;

    margin-bottom: 5rem;

    color: rgb(236, 224, 44);
    font-size:20px;
    text-align: center;
}
h2{
    font-size: 27px;
}

.Poland__info-map{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
}
svg{
    transform: scale(1.1);
}

path{
    fill:rgb(44, 42, 42);
    stroke: rgb(73, 69, 69);
}
path:hover{
    fill:rgba(221,173,173,1);

    transition: all ease;
    transition-duration: 1s;

    cursor: pointer;
}


.poland__info-form{
    display: flex;
    justify-content:flex-end;

    width: 500px;   
}
form{
    flex-direction: column;

    height: 450px;
    padding: 2rem;

    background-color: rgba(13, 14, 13, .4);
    border-radius: 15px;

    color:wheat;
}
input{
    width: 300px;
    height: 60px;
    margin: 1rem;

    border-radius: 12px;
    background-color: rgb(235, 229, 221);
    border: none;

    text-align: center;
    font-size: 25px;
}

input:hover, input:focus{
    background-color: rgba(177, 167, 167, 0.863);
}

button{
    width: 150px;
    height: 50px;
    margin-top: 2rem;


    border-radius: 12px;
    background-color: rgb(250, 11, 11);
    border: none;

    color: white;
    font-size: 20px;
    font-weight: 800;
}
button:hover{
    background-color: rgb(243, 105, 105);
    color: rgb(54, 50, 50);

    transition: all ease;
    transition-duration: 1s;

    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}